*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'KrabbyPatty';
    src: url('KrabbyPatty.ttf') format('truetype');
}

body{
    font-family: sans-serif, cursive;
    box-sizing: border-box;
    background-color:#d2f8ff;
}

nav{ /* navigation bar */
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0px;
    background: #097e95;
    box-shadow: 0px 4px 10px rgba(0,0,0,2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    cursor: pointer;
    margin-left: 50px;
}

.logo img{
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.nav-menu {
    margin-right: 40px;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    color: rgb(249, 255, 64);
}

nav ul li a:active{
    color: rgb(237, 218, 15);
}

.home-container{ /* home section */
    background-image: url("krusty_krab_background.jpg");
    background-position: center;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container img{
    width: 190px;
}

#home-text{
    width: 90%;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 30px;
}

#home-text h1,p{
    text-align: center;
    font-family: 'KrabbyPatty', cursive;
}

#home-text h1{
    font-family: 'KrabbyPatty', cursive;
}

#home-text p{
    font-family: c;
}

.menu-container{ /* menu section */
    background-color:#9bc9d2;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.menu-container h1{
    color: #097e95;
    font-family: 'KrabbyPatty', sans-serif;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.menu-cards{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 65px;
    justify-items: center;
    justify-content: center;
}

.card{
    width: 200px;
    height: 250px;
    background-color: #00000034;
    border: #ffffff 4px solid;
    box-shadow: #000000 0px 4px 12px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.card:hover{
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: #ffffff 0px 4px 20px;
    background-color:#097e95;
}

.card img{
    width: 140px;
    height: 100px;
    margin: 10px;
    border: #ffffff 3px ridge;
    object-fit: cover;
}

.card h4{
    color: white;
    font-family: 'KrabbyPatty', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 6px #000000;
    margin-top: 10px;
}

.card h1{
    color: white;
    font-family: 'KrabbyPatty', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 6px #000000;
    margin-top: 30px;
}

.aboutus-container{ /* about us section */
    height: auto;
    background-color:#d2f8ff;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-bottom: 20px;
}

.aboutus-container h1{
    color: #097e95;
    font-family: 'KrabbyPatty', sans-serif;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0px;
}

.info-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.info-card{
    width: 100%;
    height: auto;
    background-color: #097e95;
    display: flex;
    justify-content: top;
    align-items: left;
    margin-top: 40px;
}

.info-card img{
    width: 240px;
    aspect-ratio: 8/7;
    margin: 20px 20px 20px 20px;
}

.info-text{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    margin-top: 10px;
    margin-right: 20px;
    color: white;
    font-family: 'KrabbyPatty', sans-serif;
}

.info-text p{
    margin-top: 10px;
    margin-bottom: 8px;
    text-align: left;
    font-family: sans-serif;
}

.members-container{ /* members section */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.members-container h1{
    color: #097e95;
    font-family: 'KrabbyPatty', sans-serif;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0px;
}

.member-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.member-card{
    width: 300px;
    height: 300px;
    background-color: #097e95;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.member-card:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.member-card img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: #d2f8ff 4px solid;
    margin-top: 40px;
}

.member-card h2{
    color: white;
    font-size: 22px;
    font-family: 'KrabbyPatty', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.member-card h3{
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.gallery-container{ /* gallery section */
    background-color:#9bc9d2;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-bottom: 40px;
}

.gallery-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    padding: 15px;
}

.grid-column{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.grid-column img{
    display: block;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.grid-column img:hover{
    filter: brightness(0.5);
    transition: 0.3s;
}

.landscape_image{
    width: 100%;
    aspect-ratio: 3/2;
}

.square_image{
    width: 100%;
    aspect-ratio: 1/1;
}

.footer-container{ /* footer section */
    width: 100%;
    height: auto;
    background-color: #097e95;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    gap: 70px;
    padding-bottom: 30px;
}

.footer-content{
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    margin-top: 30px;
}

.footer-content h2{
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'KrabbyPatty', sans-serif;
}

.footer-content a,p{
    color: white;
    text-align: left;
    margin-bottom: 6px;
    font-family: sans-serif;
}

.footer-content a:hover{
    color: rgb(249, 255, 64);
}

.footer-content a:active{
    color: rgb(237, 218, 15);
}

.my-sosmed{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.my-sosmed a img{
    margin-top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 0.3s;
    object-fit: cover;
}

.my-sosmed a img:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

#application{
    display: flex;
    align-items: center;
}

.footer-content img{
    width: 140px;
    aspect-ratio: 1/1;
}

.footer-content button{
    width: 160px;
    height: 35px;
    background:linear-gradient(rgb(210, 2, 2),rgb(126, 18, 18)) ;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-content button:hover{
    background: linear-gradient(rgba(210, 2, 2, 0.505),rgb(126, 18, 18, 0.505));
}

.footer-content button:active{
    transform: scale(0.95);
}

.sub-footer-container{
    width: 100%;
    height: 95px;
    background-color: #9bc9d2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-footer-container p{
    color: #097e95;
    font-family: sans-serif;
}


@media only screen and (max-width: 768px){ /* desktop atau pc saat minimize lebar terkecil */
    nav{ /* navigation bar */
        height: 60px;
        width: 100%;
    }

    .logo{
        margin-left: 20px;
    }

    .logo img{
        height: 40px;
        width: auto;
        border-radius: 50%;
    }

    .nav-menu {
        margin-right: 20px;
    }

    nav ul li a{
        font-size: 12px;
        text-align: center;
        padding: 0px 6px 0px 6px;
        text-decoration: none;
    }

    .home-container img{ /* home section */
        width: 130px;
    }

    #home-text{
        font-size: 14px;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .menu-cards{ /* menu section */
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-right: 0px;
    }

    .card{
        width: 150px;
        height: 200px;
    }

    .card img{
        width: 100px;
        height: 70px;
        margin: 10px;
        border: #ffffff 3px ridge;
    }

    .card h4{
        font-size: 14px;
        margin-top: 8px;
    }

    .card h1{
        font-size: 26px;
        margin-top: 20px;
    }

    .aboutus-container{ /* about us section */
        height: auto;
    }

    .info-card{
        padding-bottom: 10px;
    }

    .info-card img{
        width: 170px;
        height: 148.75px;
        margin: 15px 15px 15px 15px;
    }

    .member-card-container{ /* members section */
        flex-direction: column;
        gap: 60px;
    }

    .gallery-images{ /* gallery section */
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-container{ /* footer section */
        flex-direction: column;
        align-items: left;
        gap: 30px;
    }

    .footer-content{
        margin-left: 40px;
        font-size: large;
    }

    #application{
        margin-left:0px ;
    }
}

@media (max-width: 480px){ /* untuk handphone */
    nav{ /* navigation bar */
        height: 60px;
        width: 100%;
    }

    .logo{
        margin-left: 20px;
    }

    .logo img{
        height: 35px;
        width: auto;
        border-radius: 50%;
    }

    .nav-menu {
        margin-right: 10px;
    }

    nav ul li a{
        font-size: 11px;
        text-align: center;
        padding: 0px 6px 0px 6px;
        text-decoration: none;
    }

    .home-container img{ /* home section */
        width: 130px;
    }

    #home-text h1{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    #home-text p{
        font-size: 14px;
    }

    .info-text { /* about us section */
        font-size: small;
    }

    #application img{ /* footer section */
        width: 120px;
        margin-bottom: 10px;
    }

    #application button{
        width: 140px;
        height: 30px;
        font-size: 12px;
        margin-top: 10px;
    }
}

@media (max-width: 360px){ /* untuk handphone kecil */
    nav{ /* navigation bar */
        height: 55px;
        width: 100%;
    }

    .logo{
        margin-left: 20px;
    }

    .logo img{
        height: 28px;
        width: auto;
        border-radius: 50%;
    }

    .nav-menu {
        margin-right: 10px;
    }

    nav ul li a{
        font-size: 10px;
        text-align: center;
        padding: 0px 6px 0px 6px;
        text-decoration: none;
    }

    .home-container img{ /* home section */
        width: 130px;
    }

    #home-text h1{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    #home-text p{
        font-size: 14px;
    }

    .card{ /* menu section */
        width: 130px;
        height: 180px;
    }

    .card img{
        width: 90px;
        height: 60px;
        margin: 8px;
    }

    .card h4{
        font-size: 12px;
        margin-top: 6px;
    }

    .card h1{
        font-size: 22px;
        margin-top: 15px;
    }

    .info-card img{ /* about us section */
        width: 120px;
        height: 105px;
        margin: 10px 10px 10px 10px;
    }

    #application img{ /* footer section */
        width: 120px;
        margin-bottom: 10px;
    }

    #application button{
        width: 140px;
        height: 30px;
        font-size: 12px;
        margin-top: 10px;
    }

}
